snippet _8:metadata
	/*
	 * FileName:     file
	 * Author: 		 8ucchiman
	 * CreatedDate:  2023-02-25 18:25:13 +0900
	 * LastModified: 2024-11-24 14:51:30
	 * Reference: 	 8ucchiman.jp
	 */

snippet _8:temp template
	#include <stdio.h>
	#define MACRO

	#ifdef MACRO
	int main(int argc, char* argv[]) {

		return 0;
	}
	#endif

snippet _8:func template func
	/** @brief This is a function.
	Description...

	@code
		sample
	@endcode

	@param
	@param
	@param

	@see @ref Reference
	*/
	int tmp_func(void);

	int tmp_func(void) {
		return 1;
	}

snippet _8:callback

	/** @brief Converts an image from one color space to another.

		@param src input image: 8-bit unsigned, 16-bit unsigned ( CV_16UC... ), or single-precision floating-point.
		@param dst output image of the same size and depth as src.
		@param code color space conversion code (see #ColorConversionCodes).
		@param dstCn number of channels in the destination image; if the parameter is 0, the number of the channels is derived automatically from src and code.
	*/
	int func(int (*callback)(int, int, int), int x) {
		return callback(x, x, x);
	}

snippet _8:multithread
	/*
		スレッドで処理する関数
		
	*/
	void *thread_func(void* arg) {
		// you have to prepare codes for another thread
		int id = (int)arg;
		for (int i=0; i<5; i++) {
			printf("id = %d, i = %d\n", id, i);
			sleep(1);
		}
		return "finished";
	}

	int main(int argc, char** argv) {
		pthread_t v[10];
		for (int i=0; i<10; i++) {
			if (pthread_create(&v[i], NULL, thread_func, (void*)i) != 0) {
				perror("pthread_create");
				return -1;
			}
		}

		for (int i=0; i<10; i++) {
			char* ptr;

			if (pthread_join(v[i], (void**)&ptr) == 0) {
				printf("msg = %s\n", ptr);
			}
			else {
				perror("pthread_join");
				return -1;
			}
		}
		return 0;
	}

snippet _8:struct
	/**
		- typedef不使用
		struct _playersData { };      // 宣言
		struct _playersData player_x;
		- typedef使用
		typedef struct _playersData { }_playersData; // 宣言
		_playersData player_x;
	*/
	typedef struct _playersData {
		char* name;
		int age;
		int position;
		double* RBI;
	}_playersData;

snippet _8:file_read
	/**
		


	 */
	void file(char* file_name) {
	    FILE *fp;
	    if ((fp = fopen(file_name, "r")) == NULL) {
			perror("Error: failed to read a file.");
			exit(EXIT_FAILURE);
	    }
	    int l;
	    char** words = (char**) malloc(MAX_WORDS*sizeof(char*));
	
	    while ((l = getc(fp)) != EOF) {
	        char* tmp_char = (char*)malloc(CHAR_LEN*sizeof(char));
	        printf("%c\n", l);
	    }
	    fclose(fp);
	}


snippet _8:boarder
	/* -------------------------------------------------------- */



snippet _8:tmp_opengl
	// gcc clr_fullscreen.c -o clr_fullscreen -lGL -lGLU -lglut
	include <GL/glut.h> /* GLUT ライブラリ用 */

	* 初期化 */
	void initialize(void) {
		/* 画面クリアカラーの設定 */
		glClearColor( 0.0f, 0.0f, 0.0f, 1.0f );
	}

	/* 描画 */
	void display(void) {
		/* 画面クリア */
		glClear( GL_COLOR_BUFFER_BIT );

		/* 描画終了 */
		glFlush();
	}
	
	/* キーボード入力処理 */
	void keyboard( unsigned char c, int x, int y ) {
		/* ESC キー (コード 27) でプログラム終了 */
		if( c==27 ) exit( 0 );
	}
	
	/* ウィンドウ変形処理 */
	void reshape( int w, int h ) {
		/* 何もしない */
	}
	
	int main( int argc, char *argv[] ) {
		/* glut のイニシャライズ */
		glutInit( &argc, argv );

		/* ウィンドウの生成 */
		glutInitDisplayMode( GLUT_RGB );
		glutInitWindowPosition( 100, 100 );
		glutInitWindowSize( 500, 400 );
		glutCreateWindow( argv[0] );

		/* 描画ルーチンの設定 */
		glutDisplayFunc( display );

		/* キーボード入力処理ルーチンの設定 */
		glutKeyboardFunc( keyboard );

		/* ウィンドウ変形処理ルーチンの設定 */
		glutReshapeFunc( reshape );

		/* OpenGL 初期化ルーチンの呼び出し */
		initialize();

		/* 無限ループ */
		glutMainLoop();
		return 0;
	}

# https://housoubu.mizusasi.net/data/prog/p009.html
snippet _8:debug
	//#ifndef _DEBUG
	#ifdef _DEBUG
	#define TEST_FUNC(string) {printf("debug:%s\n", string);}
	#else
	#define TEST_FUNC(string) {;}
	#endif
