snippet _8metadata metadata
	/*
	 * FileName:     file
	 * Author: 		 8ucchiman
	 * CreatedDate:  2023-02-25 18:25:13 +0900
	 * LastModified: 2024-02-09 13:26:58
	 * Reference: 	 8ucchiman.jp
	 */


snippet _8border for tips
	/* ------------------------- */


snippet _8function function metadata
	/** @brief This is a hoge function.
	Description...

	@code
		sample
	@endcode

	@param
	@param
	@param

	@see @ref Reference
	*/
	void hoge ();
