snippet _8metadata metadata
	/*
	 * FileName:     file
	 * Author: 		 8ucchiman
	 * CreatedDate:  2023-02-25 18:25:13 +0900
	 * LastModified: 2024-02-09 13:26:58
	 * Reference: 	 8ucchiman.jp
	 */


snippet _8border for tips
	/* ------------------------- */


snippet _8function function metadata
	/** @brief This is a hoge function.
	Description...

	@code
		sample
	@endcode

	@param
	@param
	@param

	@see @ref Reference
	*/
	void hoge ();


# GLFW Callbacks
snippet glfwkey GLFW key callback
	void ${1:keyCallback}(GLFWwindow* window, int key, int scancode, int action, int mods) {
		${0:// callback implementation}
	}

snippet glfwmousebutton GLFW mouse button callback
	void ${1:mouseButtonCallback}(GLFWwindow* window, int button, int action, int mods) {
		${0:// callback implementation}
	}

snippet glfwcursorpos GLFW cursor position callback
	void ${1:cursorPosCallback}(GLFWwindow* window, double xpos, double ypos) {
		${0:// callback implementation}
	}

snippet glfwscroll GLFW scroll callback
	void ${1:scrollCallback}(GLFWwindow* window, double xoffset, double yoffset) {
		${0:// callback implementation}
	}

snippet glfwframebuffersize GLFW framebuffer size callback
	void ${1:framebufferSizeCallback}(GLFWwindow* window, int width, int height) {
		${0:// callback implementation}
	}

snippet glfwwindowsize GLFW window size callback
	void ${1:windowSizeCallback}(GLFWwindow* window, int width, int height) {
		${0:// callback implementation}
	}

snippet glfwchar GLFW character callback
	void ${1:charCallback}(GLFWwindow* window, unsigned int codepoint) {
		${0:// callback implementation}
	}

snippet glfwerror GLFW error callback
	void ${1:errorCallback}(int error, const char* description) {
		${0:// callback implementation}
	}

# Lambda versions
snippet glfwkeylambda GLFW key callback (lambda)
	auto ${1:keyCallback} = [](GLFWwindow* window, int key, int scancode, int action, int mods) {
		${0:// callback implementation}
	};

snippet glfwmousebuttonlambda GLFW mouse button callback (lambda)
	auto ${1:mouseButtonCallback} = [](GLFWwindow* window, int button, int action, int mods) {
		${0:// callback implementation}
	};

snippet glfwcursorposlambda GLFW cursor position callback (lambda)
	auto ${1:cursorPosCallback} = [](GLFWwindow* window, double xpos, double ypos) {
		${0:// callback implementation}
	};

snippet glfwscrolllambda GLFW scroll callback (lambda)
	auto ${1:scrollCallback} = [](GLFWwindow* window, double xoffset, double yoffset) {
		${0:// callback implementation}
	};
