snippet _8metadata metadata
	/*
	 * FileName:     file
	 * Author: 		 8ucchiman
	 * CreatedDate:  2023-02-25 18:25:13 +0900
	 * LastModified: 2023-12-06 10:43:14
	 * Reference: 	 8ucchiman.jp
	 */


snippet _8border for tips
	/* ------------------------- */
