# 
# FileName:     cu
# Author:       8ucchiman
# CreatedDate:  2023-09-19 13:53:00
# LastModified: 2023-02-26 13:30:39 +0900
# Reference:    8ucchiman.jp
# Description:  ---
#

snippet _8:metadata metadata
	/*
	 * FileName:     file
	 * Author: 		 8ucchiman
	 * CreatedDate:  2023-02-25 18:25:13 +0900
	 * LastModified: 2023-02-25 18:37:47 +0900
	 * Reference: 	 8ucchiman.jp
	 */

